

@{
    ViewData["Title"] = "Last3Games";
    Layout = "~/Views/Shared/_ArticleCard.cshtml";

}



<nav>
    <a asp-controller="Home" asp-action="Index">Home</a> |
    <a asp-controller="TourController" asp-action="Stars">Current Top Performers</a>
</nav>