namespace COMP003B.Assignment4
﻿
@model COMP003B.Assignment4.RegisterModel
@{
    ViewData["Title"]="";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>@ViewData["Tickets"]</h2>
<partial name="_Navigation" />



