namespace COMP003B.Assignment4
﻿
@model COMP003B.Assignment4.RegisterModel
@{
    ViewData["Title"]="GameTime";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>@ViewData["GameTime"]</h2>
<partial name="_Navigation" />



GET READY FOR THE GAME!

Your purchase was successful! Please standby for the details in an official email. 