@model ArsenalModel

<div class="card mb-3">
    <div class="card-body">
        <h4 class="card-title">@Model.Title</h4>
        <p class="card-text">@Model.Summary</p>
        <a asp-action="Last3Games" asp-route-id="ArsenalModel" class="btn btn-outline-primary">Read More</a>
    </div>
</div>


