
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home Controller" asp-action="Register" asp-route="FanClub">Join the AFC Club!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home Controller" asp-action="Registration" asp-route="Tickets">Get tickets for live games!</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home Controller" asp-action="AboutArsenal" asp-route="Last3Games">Last 3 Games</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-action="AboutArsenal" asp-route="Stars">Stars</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="" asp-route="Index">Home</a>
        </li>
    </ul>


</div>